
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Lora:ital@1&family=Oswald&family=Zen+Dots&display=swap');

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora';
}

html,body{
    width: 100%;
    height: 100%;
}


.container{
    width: 100%;
    height: 100vh;
    background: #bbc6fa;

    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-box{
    /* position: absolute; */
    /* border: 2px solid black; */
    /* background: transparent; */
    width: 70vw;
    height: auto;
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0,0,0,0.15);

}
.quote-box h2{
    font-size: 3rem;
    margin-bottom: 2rem;
    position: relative;
}

/* To insert a horizontal line to Heading  */
.quote-box h2::after{
    content: '';
    width: 10rem;
    height: .3rem;
    border-radius: 3px;
    background: rgb(23,124,229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);    
}

/* css for quote  */
.quote-box blockquote{
    font-size: 1.5rem;
    min-height: 50px;
}
.quote-box blockquote::before, .quote-box blockquote::after{
    content: '"';
}

/* css for author name span tag */
.quote-box span{
    display: block;
    position:relative;
    float: right;
    margin-top: 10px;
}

.quote-box span::before{
    content: '';
    width: 1.5rem;
    height: .1rem;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
}

/* css for button */
.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.quote-box button{
 background: rgb(23,124,229);
 color: #fff;
 border-radius: 25px;
 border: 1px solid rgb(23, 124, 229);
 width: 150px;
 height: 50px;
 margin: 2rem;
 cursor: pointer;
}
.quote-box button:hover{
    background: rgb(76, 111, 149);
}
.quote-box button a{
    text-decoration: none;
    color: #fff;
}

.whatsapp {
    background: #075e54 !important;
    border: 0 !important;
}
.whatsapp:hover{
    background: #108173 !important;
}

@media screen and (max-width:700px){
    .quote-box h2{
        font-size: 1.5rem;
    }

    .quote-box blockquote{
        font-size: 1rem;
        min-height: 40px;
    }

    .quote-box h2::after{
        width: 4rem;
        height: .2rem;   
    }
    .quote-box span {
        font-size: .8rem;
    }

    .quote-box span::before{
        width: 1rem; 
    }

    .quote-box button{
        font-size: .6rem;
    }
}

@media screen and (max-width:550px){
    .quote-box button{
        font-size: .5rem;
        padding: .5rem 1rem;
        height: auto;
        margin: 1rem;
    }
}

@media screen and (max-width:420px){

    .quote-box{
        position: absolute;
        top: 100px;
        width: 90vw;
    }
    .quote-box button{
        font-size: .5rem;
        padding: .5rem 1rem;
        height: auto;
        margin: 1rem;
    }
    .quote-box h2{
        font-size: 1.3rem;
    }

    .quote-box blockquote{
        font-size: .9rem;
    }

    .quote-box h2::after{
        width: 3rem;
        height: .2rem;   
    }
    .quote-box span {
        font-size: .6rem;
    }

    .quote-box span::before{
        width: .8rem; 
        left: -15px;
        top: 5px;
    }
}

